<!DOCTYPE html>
{% extends "order_base.html" %}

{% block content %}
    <table id="data_order" class="table table-info table-hover">
        <thead>
            <th>TBOT_TIME</th>
            <th>ORD_TIME</th>
            <th>TICKER</th>
            <th>TV_PRICE</th>
            <th>ACTION</th>
            <th>ORDERTYPE</th>
            <th>QTY</th>
            <th>ORDERID</th>
            <th>ORDERREF</th>
            <th>ORDERSTATUS</th>
            <th>AVGPRICE</th>
        </thead>
        <tbody>
            {% for row in rows %}
                <tr>
                    <td>{{row["UNIQUEKEY"]}}</td>
                    <td>{{row["TIMESTAMP"]}}</td>
                    <td>{{row["TICKER"]}}</td>
                    <td>{{row["TV_PRICE"]}}</td>
                    <td>{{row["ACTION"]}}</td>
                    <td>{{row["ORDERTYPE"]}}</td>
                    <td>{{row["QTY"]}}</td>
                    <td>{{row["ORDERID"]}}</td>
                    <td>{{row["ORDERREF"]}}</td>
                    <td>{{row["ORDERSTATUS"]}}</td>
                    <td>{{row["AVGPRICE"]}}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}